<div class='container' id='box1'>
	<div class='z-depth-5 deep-purple lighten-5' id='about'>
		<div class='over'>
			<span class='grey-text darken-4 hoverable'>
				<h4>About St. Hugh’s</h4>
				<p>St. Hugh’s Capital Management, LLC is an investment management company which manages private investment funds. We are dedicated to producing uncorrelated, superior risk-adjusted returns for investors using mathematical and statistical methods.</p>
			</span>
		</div>
	</div>
</div>
<div class='container center-align'>
	<img src="images/graph.gif">
</div>